body{
ul.p-breadcrumbs {
    background: none !important;
    border: none !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.p-title-value {
    font-size: 34px;
}

.block-filterBar {
    background-color: #3f454e;
}

.structItem-parts>li:nth-child(even) {
    color: #959fb4 !important;
}

.pairs>dt {
    color: #959fb4;
}



.block-container:not(.block-container--noStripRadius)>:first-child,
.block-topRadiusContent,
.block-container:not(.block-container--noStripRadius)>.block-body:first-child>.blockLink:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.structItem {
    border-top: 1px solid #4d5460;
}
}