.prefix{
  color: white !important;
}
.prefix.Discussion {
    background-color: #03A9F4 !important ;
}

.prefix.Partage {
    background-color: #3F51B5 !important ;
}

.prefix.Source {
    background-color: #19921d !important ;
}

.prefix.Tutoriel {
    background-color: #F57C00 !important ;
}

.prefix.News {
    background-color: #E91E63 !important ;
}

.prefix.General {
    background-color: #607D8B !important ;
}

.prefix.Informatique {
    background-color: #05a5b9 !important ;
}

.prefix.Question {
    background-color: #FF5722 !important ;
}

.prefix.Résolu {
    background-color: #8BC34A !important ;
}

.prefix.prefixGreen1 {
    background-color: #4CAF50 !important ;
}

.prefix.prefixRed1 {
    background-color: #F44336 !important ;
}

.prefix.Creation {
    background-color: #28a99d !important ;
}